<div class="container">
    <div class="row">
      <div class="col1-sm">
        <div class="row1">
            <div class="title-header">
                <h1>Priorities</h1>
                <span>You must know the difference between what is urgent and what is important.</span> 
                </div>
                <div class="button-container">
                    <button class="btn btn-primary" (click)="openDialog()">Add Priority</button>
                </div>
                <div class="priority-container">
                    <mat-tab-group [disableRipple]="true">
                        <mat-tab class="asd" label="Active">
                            <div class="active-priority">
                                
                            </div>
                        </mat-tab>
                        <mat-tab label="Done"> Content 2 </mat-tab>
                      </mat-tab-group>
                </div>
        </div>

        <div class="row2">
           <!-- row 2 -->
        </div>
        
      </div>

      <div class="col2-sm">
        <!-- // col 2 -->
        <div class="part-container">
            <div class="color-legend">
                <h1>Color Legend</h1>
                <div class="legend">
                    <div class="low"></div>
                    <div class="normal"></div>
                    <div class="high"></div>
                    <div class="critical"></div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>