.container{
    display: flex;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em ;
    padding-bottom:3em ;
}
