<div class="container">
    <div class="row">
        <!-- Column 1 -->
        <div class="col1-sm">
            
            <div class="myExpenseContainer">
                <div class="row-one">
                    <img [src]="'assets/img/calculator.svg'" style="width: 44px; height: 45px; margin-right: 1em; margin-left: .5em;"  alt="">
                    <div class="title" style=" margin-right: 10em; font-weight: bold;"> <span >My Expense Calculator</span></div>
                    <div class="title"> <span >Overview</span></div>
                    <div class="title"> <span >Data</span></div>
                    <div class="title"> <span >Calendar</span></div>
                </div>

                <div class="row2">
                    <div class="col1-img">
                        <img [src]="'assets/img/wallet.png'" style="width: 60px; height: 55px; margin-right: 1em; margin-left: .5em;"  alt="">
                    </div>
                    
                    <div class="col2-text"> 
                        <div>Home Wallet</div>
                        <div>Click to add cash</div>
                    </div>

                    <div class="col3-cash"> 
                        <div style="font-size: 2em;">&#x20B1; 1000</div>
                    </div>
                </div>

            </div>
    
        </div>
        <!-- Column 2 -->
        <div class="col2-sm">
           
            <div class="myExpenseContainer">
    
            </div>
    
        </div>

    </div>
    

</div>