<div class="container">
    <div class="row">
        <!-- Column 1 -->
        <div class="col1-sm">
            
            <div class="myExpenseContainer">
                <div class="row-one">
                    <div class="title-origin">
                        <img [src]="'assets/img/calculator.svg'" style="width: 44px; height: 45px; margin-right: 1em; margin-left: .5em;"  alt="">
                        <div class="title1" style="font-weight: bold;"> <span >My Expense Calculator</span></div>
                    </div>
                    
                    <div class="sub-title">
                        <div class="title2"> <span >Overview</span></div>
                        <div class="title3"> <span >Data</span></div>
                        <div class="title4"> <span >Calendar</span></div>
                    </div>
    
                </div>

                <div class="row2">
                    <div class="col1-img">
                        <img [src]="'assets/img/wallet.png'" style="width: 60px; height: 55px; margin-right: 1em; margin-left: .5em;"  alt="">
                    </div>
                    
                    <div class="col2-text"> 
                        <div>Home Wallet</div>
                        <div>Click to add cash</div>
                    </div>

                    <div class="col3-cash"> 
                        <div style="font-size: 2em;">&#x20B1; 1000</div>
                    </div>
                </div>

                <div class="row3">
                    <div class="row-data-container">
                        <div class="date-today-container">
                            <div class="date-today">{{currentDate |  date:'fullDate'}}</div>
                        </div>
                        <div class="transaction-container">
                            <div class="transactions">Number of Transaction: {{len}}</div>
                        </div>
                        <div class="value-container">
                            <div class="value">TotalExpense &#x20B1;{{totalExpense}}</div>
                        </div>
                    </div>
                </div>
                <div class="row4">
                    <div class="add-button">
                        <button type="button" (click)="addExpense()" class="btn btn-primary">Add Expense</button>
                    </div>
                </div>
                <div class="row5">
                    <div class="expense-container" > 
                        <div class="expense-data">
                            <div class="expense" *ngFor="let item of userExpense">
                                <div class="expense-icon-container">
                                    <div class="expense-icon"><img src="{{item.ExpenseTypeImg}}" style="width: 80% ; height: auto;" alt=""></div>
                                </div>
                                <div class="expense-name-container">
                                    <div class="expense-name">{{item.ExpenseName}}</div>
                                    <div class="date-buy">{{item.ExpenseDate| date:'fullDate'}}</div>
                                </div>
                                <div class="expense-price-container">
                                    <div class="expense-price">-&#x20B1;{{item.ExpensePrice}}</div>
                                </div>
                                <div class="button-command-container">
                                   <div class="edit-button"><img [src]="'assets/img/edit.svg'" style="width: 50% ; height: 50%;background-color:; border-radius: 5px; padding: .5em; margin-left: 4em;" alt=""></div>
                                   <div class="delete-button"><img [src]="'assets/img/delete1.svg'" style="width: 50% ; height: 50%; background-color: ; border-radius: 5px; padding: .5em;" alt=""></div>
                                </div>  
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    
        </div>
        <!-- Column 2 -->
        <div class="col2-sm">
           
            <div class="myExpenseContainer">
    
            </div>
    
        </div>

    </div>
    

</div>