.container{
    margin-top:0;
    width: 100%;
    padding: 0em 0 2em 0;
    overflow: hidden;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.priority , .description , .priority-status{
    width: 90%;
}

.priority-level, .due{
    width: 44%;
    margin-bottom: -.5em;
}

.priority-level{
    margin-right: 15px;
   
}

mat-form-field{
    width: 100%;
}

.pick{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}